/*grid*/

body{
    margin: 0;
    height: 1100px;
    display: grid;
    grid-template-areas:
    "header header header"
    "main main main"
    "footer footer footer";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 5fr 1fr;
}

/*estruturas semanticas, cards e botoes*/

header{
    grid-area: header;
    position: relative;
    height: 125px;
    background-color:crimson;
}

main{
    grid-area: main;
}

.seccadastro{
    height: 550px;
    width: 500px;
    position: absolute;
    top: 28%;
    left: 16%;
    text-align: center;
}

.linha{
    position: absolute;
    height: 550px;
    width: 0px;
    top: 28%;
    left: 50%;
    border-left: 3.5px solid lightgray;
}

.seclogin{
    height: 550px;
    width: 500px;
    position: absolute;
    top: 28%;
    right: 16%;
    text-align: center;
}

.caixatexto{
    height: 45px;
    width: 325px;
    margin-bottom: 20px;
    font-size: 20px;
    border-radius: 5px;
}

.botao{
    background-color: crimson;
    color: white;
    border-radius: 50px;
    width: 200px;
    cursor: pointer;
}

.botao:hover{
    background-color: rgb(220, 57, 90);
    transition: 0.1s;
}

footer{
    grid-area: footer;
    position: relative;
    height: 225px;
    background-color: black;
}


/*imagens*/

.logo{
    height: 50px;
    position: absolute;
    top: 35px;
    left: 75px;
}

.instagram{
    height: 25px;
    position: absolute;
    bottom: 130px;
    right: 235px;
}

.facebook{
    height: 60px;
    position: absolute;
    bottom: 65px;
    right: 217.5px;
}

.youtube{
    height: 28px;
    position: absolute;
    bottom: 32px;
    right: 233px;
}

.footerlogo{
    width: 150px;
    position: absolute;
    top: 40px;
    left: 55%;
    border-radius: 10px;
}

/*texto*/

.titulo{
    font-family:'Lucida Sans', Arial, Helvetica, sans-serif;
    font-size: 40px;
}

h2{
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.botao h1{
    font-family: 'Lucida Sans', Arial, Helvetica, sans-serif;
}

ul{
    color: white;
    list-style: none;
}

footer li{
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

footer li:hover{
    color: crimson;
    transition: 0.1s;
    cursor: pointer;
}

.ajuda{
    position: absolute;
    left: 40px;
}

.ulajuda{
    position: absolute;
    bottom: 0px;
}

.sobre{
    position: absolute;
    left: 32%;
}

.sobretxt{
    color: white;
    position: absolute;
    left: 32%;
    bottom: 0px;
    width: 320px;
    font-family: Arial, Helvetica, sans-serif;
}

.redes{
    position: absolute;
    right: 100px;
}

.ulredes{
    position: absolute;
    right: 150px;
    bottom: 0px;
    line-height: 39px;
}

/*responsividade*/

@media screen and (max-width: 800px) {

    /*grid*/

    body {
        grid-template-areas: 
        "header"
        "main"
        "footer";
        grid-template-columns: auto;
        grid-template-rows: 125px auto 225px;
    }

    /*estruturas semanticas, cards e botoes*/

    .seccadastro{
        width: 390px;
        left: 5px;
    }

    .seclogin{
        width: 390px;
        left: 405px;
    }

    footer{
        top: 0px;
    }

    /*imagens*/

    .instagram{
        display: none;
    }
    
    .facebook{
        display: none;
    }
    
    .youtube{
        display: none;
    }

    .footerlogo{
        left: 500px;
    }

    /*texto*/

    .ulajuda{
        display: none;
    }

    .ajuda{
        display: none;
    }

    .ulredes{
        display: none;
    }
    
    .redes{
        display: none;
    }

    .sobre{
        left: 100px;
    }

    .sobretxt{
        left: 100px;
    }
}

@media screen and (max-width: 400px) {

    /*grid*/

    body {
        grid-template-areas: 
        "header"
        "main"
        "footer";
        grid-template-columns: auto;
        grid-template-rows: auto auto auto;
    }

    /*estruturas semanticas, cards e botoes*/

    header{
        height: 75px;
    }

    main{
        height: 1000px;
    }

    .linha{
        display: none;
    }

    .seclogin{
        top: 80px;
        left: 5px;
    }

    .seccadastro{
        top: 500px;
    }

    /*imagens*/

    .logo{
        top: 12.5px;
        left: 130px;
    }

    .perfil{
        display: none;
    }

    .carrinho{
        display: none;
    }

    .footerlogo{
        width: 125px;
        top: 55px;
        left: 250px;
    }

    /*texto*/

    .sobre{
        left: 10px;
        font-size: 20px;
    }

    .sobretxt{
        width: 200px;
        top: 40px;
        left: 10px;
        font-size: 13px;
    }

}