/*grid*/

body{
    margin: 0;
    display: grid;
    grid-template-areas:
    "header header header"
    "main main main"
    "footer footer footer";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 5fr 1fr;
}

/*estruturas semanticas, cards e botoes*/

header{
    grid-area: header;
    position: relative;
    height: 125px;
    background-color:crimson;
}

main{
    grid-area: main;
    position: relative;
    height: 1100px;
}

.secao{
    height: 700px;
    width: 400px;
    position: absolute;
    right: 280px;
}

.secaotam{
    width: 360px;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    bottom: 255px;
    left: 20px;
}

.cardtam{
    border: 2px crimson solid;
    border-radius: 5px;
    font-family: 'Lucida Sans', Arial, Helvetica, sans-serif;
    margin: 5px;
    height: 30px;
    width: 30px;
    cursor: pointer;
}

.cardtam:hover{
    background-color: crimson;
    color: white;
    transition: 0.1s;
}

.cardtam:focus{
    background-color: crimson;
    color: white;
}

.botao{
    background-color: crimson;
    color: white;
    border-radius: 50px;
    position: absolute;
    bottom: 125px;
    left: 20px;
    width: 300px;
    text-align: center;
    cursor: pointer;
}

.botao:hover{
    background-color: rgb(220, 57, 90);
    transition: 0.1s;
}

.secaosug{
    display: flex;
    flex-wrap: wrap;
    padding-left: 15px;
    text-decoration: none;
    position: absolute;
    bottom: 20px;
}

.cardsug{
    width: 250px;
    height: 300px;
    border: 5px solid;
    border-color: lightgray;
    border-radius: 10px;
    margin: 10px;
    padding-left: 10px;
    font-family:'Lucida Sans', Arial, Helvetica, sans-serif;
    cursor: pointer;
}

.cardsug:hover{
    background-color: lightgray;
    transition: 0.1s;
}

footer{
    grid-area: footer;
    position: relative;
    height: 225px;
    background-color: black;
}

/*imagens*/

.logo{
    height: 50px;
    position: absolute;
    top: 35px;
    left: 75px;
}

.perfil{
    height: 50px;
    border-radius: 50px;
    position: absolute;
    top: 35px;
    right: 150px;
    background-color: crimson;
}

.perfil:hover{
    background-color: rgb(220, 57, 90);
    transition: 0.1s;
}

.carrinho{
    height: 50px;
    border-radius: 50px;
    position: absolute;
    top: 35px;
    right: 75px;
    background-color: crimson;
}

.carrinho:hover{
    background-color: rgb(220, 57, 90);
    transition: 0.1s;
}

.produto{
    height:350px;
    position: absolute;
    top: 75px;
    left: 280px;
}

.cardsug img{
    width: 240px;
    height: 150px;
    border-radius: 10px;
}

.instagram{
    height: 25px;
    position: absolute;
    bottom: 130px;
    right: 235px;
}

.facebook{
    height: 60px;
    position: absolute;
    bottom: 65px;
    right: 217.5px;
}

.youtube{
    height: 28px;
    position: absolute;
    bottom: 32px;
    right: 233px;
}

.footerlogo{
    width: 150px;
    position: absolute;
    top: 40px;
    left: 55%;
    border-radius: 10px;
}

/*texto*/

.nomeproduto{
    font-size: 30px;
    font-family: 'Lucida Sans', Arial, Helvetica, sans-serif;
    position: absolute;
    left: 20px;
}

.Pdesc{
    font-size: 25px;
    font-family: 'Lucida Sans', Arial, Helvetica, sans-serif;
    position: absolute;
    left: 20px;
    top: 40px;
}

.Paval{
    font-size: 25px;
    font-family: 'Lucida Sans', Arial, Helvetica, sans-serif;
    position: absolute;
    left: 20px;
    top: 70px;
}

.Ppreco{
    font-size: 30px;
    font-family: 'Lucida Sans', Arial, Helvetica, sans-serif;
    position: absolute;
    top: 150px;
    left: 20px;
}

.Ppreco2{
    font-family: 'Lucida Sans', Arial, Helvetica, sans-serif;
    color: rgb(64, 200, 147);
    position: absolute;
    left: 20px;
    top: 195px;
}

h2{
    color: white;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

h4{
    color: rgb(64, 200, 147);
}

.tamanhos{
    font-size: 25px;
    font-family: 'Lucida Sans', Arial, Helvetica, sans-serif;
    position: absolute;
    left: 20px;
    bottom: 325px;
}

.cardtam p{
    margin: 4.5px;
}

.botao h1{
    font-family: 'Lucida Sans', Arial, Helvetica, sans-serif;
}

.sug{
    position: absolute;
    bottom: 350px;
    left: 25px;
    font-family: 'Lucida Sans', Arial, Helvetica, sans-serif;
}

.desc{
    line-height: 5px;
}

.preco{
    line-height: 0px;
    padding-top: 30px;
}

.preco2{
    line-height: 0px;
}

ul{
    color: white;
    list-style: none;
}

footer li{
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

footer li:hover{
    color: crimson;
    transition: 0.1s;
    cursor: pointer;
}

a{
    text-decoration: none;
}

.ajuda{
    position: absolute;
    left: 40px;
}

.ulajuda{
    position: absolute;
    bottom: 0px;
}

.sobre{
    position: absolute;
    left: 32%;
}

.sobretxt{
    color: white;
    position: absolute;
    left: 32%;
    bottom: 0px;
    width: 320px;
    font-family: Arial, Helvetica, sans-serif;
}

.redes{
    position: absolute;
    right: 100px;
}

.ulredes{
    position: absolute;
    right: 150px;
    bottom: 0px;
    line-height: 39px;
}

/*menu retratil*/

.menuicon{
    position: absolute;
    top: 43px;
    left: 39px;
    z-index: 999;
    width: 35px;
    height: 35px;
}

.menuicon span{
    display: block;
    width: 35px;
    height: 5px;
    margin-bottom: 10px;
    background-color: white;
    border-radius: 3px;
    transition: all ease 0.5s;
}

.check{
    position: absolute;
    top: 40px;
    left: 35px;
    z-index: 1000;
    width: 35px;
    height: 35px;
    opacity: 0;
    cursor: pointer;
}

.check:checked ~ .menuicon span:nth-child(1){
    transform-origin: 0% 100%;
    transform: rotate(45deg) scaleX(1.15);
}

.check:checked ~ .menuicon span:nth-child(2){
    opacity: 0;
}

.check:checked ~ .menuicon span:nth-child(3){
    transform-origin: 0% 0%;
    transform: rotate(-45deg) scaleX(1.15);
}

.menu ul{
    list-style-type: none;
    position: absolute;
    z-index: 998;
    top: -17px;
    left: -1000px;
    width: 40%;
    height: 3349px;
    padding-top: 100px;
    background-color: #232323;
    transition: 0.5s;
}

.check:checked ~ ul{
    left: 0px;
}

.menu ul li{
    padding: 10px 30px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}

.menu ul li:hover{
    color: crimson;
}

/*responsividade*/

@media screen and (min-width: 800.5px) {
    .menu{
        display: none;
    }
}

@media screen and (max-width: 800px) {

    /*grid*/

    body {
        grid-template-areas: 
        "header"
        "main"
        "footer";
        grid-template-columns: auto;
        grid-template-rows: auto auto auto;
    }

    /*estruturas semanticas, cards e botoes*/

    main{
        height: 1550px;
    }
    
    .secao{
        width: 700px;
        left: 40px;
    }

    .secaotam{
        left: 380px;
        top: 490px;
    }

    .botao{
        width: 300px;
        height: 62.4px;
        left: 380px;
        top: 630px;
    }

    .cardsug{
        height: 280px;
        width: 225px;
    }

    /*imagens*/

    .logo{
        left: 335px;
    }

    .perfil{
        display: none;
    }

    .carrinho{
        display: none;
    }

    .produto{
        left: 140px;
    }

    .cardsug img{
        width: 210px;
        height: 120px;
    }

    .instagram{
        display: none;
    }
    
    .facebook{
        display: none;
    }
    
    .youtube{
        display: none;
    }

    .footerlogo{
        left: 500px;
    }

    /*texto*/

    .nomeproduto{
        left: 0px;
        top: 420px;
    }
    
    .Pdesc{   
        left: 0px;
        top: 460px;
    }
    
    .Paval{    
        left: 0px;
        top: 500px;
    }
    
    .Ppreco{
        left: 0px;
        top: 600px;
    }

    .Ppreco2{    
        left: 0px;
        top: 645px;
    }

    .tamanhos{
        left: 380px;
        top: 422.5px;
    }

    .sug{
        bottom: 650px;
    }

    .ulajuda{
        display: none;
    }

    .ajuda{
        display: none;
    }

    .ulredes{
        display: none;
    }
    
    .redes{
        display: none;
    }

    .sobre{
        left: 100px;
    }

    .sobretxt{
        left: 100px;
    }
}

@media screen and (max-width: 400px) {

    /*grid*/

    body {
        grid-template-areas: 
        "header"
        "main"
        "footer";
        grid-template-columns: auto;
        grid-template-rows: auto auto auto;
    }

    /*estruturas semanticas, cards e botoes*/

    header{
        height: 75px;
    }

    .secao{
        width: 400px;
        left: 0px;
    }

    .secaotam{
        top: 600px;
        left: 10px;
    }

    .botao{
        top: 750px;
        left: 50px;
    }

    .cardsug{
        width: 150px;
        height: 210px;
        padding-left: 5px;
    }

    /*imagens*/

    .logo{
        top: 12.5px;
        left: 130px;
    }

    .perfil{
        display: none;
    }

    .carrinho{
        display: none;
    }

    .produto{
        top: 10px;
        left: 10px;
        width: 380px;
        height: 237.5px;
    }

    .cardsug img{
        width: 144px;
        height: 90px;
    }

    .footerlogo{
        width: 125px;
        top: 55px;
        left: 250px;
    }

    /*texto*/

    .nomeproduto{
        top: 250px;
        left: 10px;
    }

    .Pdesc{
        top: 290px;
        left: 10px;
    }

    .Paval{
        top: 320px;
        left: 10px;
    }

    .Ppreco{
        top: 410px;
        left: 10px;
    }

    .Ppreco2{
        top: 450px;
        left: 10px;
    }

    .tamanhos{
        top: 540px;
        left: 10px;
    }

    .sug{
        font-size: 25px;
        bottom: 500px;
    }

    .cardsug h3{
        margin-top: 0px;
        line-height: 16px;
        font-size: 16px;
    }

    .cardsug p{
        font-size: 14px;
    }

    .preco{
        padding-top: 10px;
        line-height: 0px;
    }

    .preco2{
        line-height: 0px;
        font-size: 14px;
    }

    .sobre{
        left: 10px;
        font-size: 20px;
    }

    .sobretxt{
        width: 200px;
        top: 40px;
        left: 10px;
        font-size: 13px;
    }

    /*menu retratil*/

    .check{
        top: 17px;
        left: 21px;
    }

    .menuicon{
        top: 20px;
        left: 25px;
    }

    .menu ul{
        width: 50%;
    }

}