/*grid e responsividade*/

body{
    margin: 0;     /* tira a margem do body */
    display: grid;
    grid-template-areas:     /* altera a forma como o grid é disposto */
    "header header header"
    "aside main main"
    "footer footer footer";
    grid-template-columns: 1fr 2fr 2fr;     /* atera o tamanho das colunas do grid */
}

/*estruturas semanticas, cards e botoes*/

header{
    grid-area: header;     /* define nome da estrutura no grid */
    position: relative;     /* define como funciona a posição do elemento na página */
    height: 125px;     /* define altura do elemento*/
    background-color:crimson;     /* define cor de fundo do elemento */
}

aside{
    grid-area: aside;
    position: relative; 
    background-color: lightgray;
}

main{
    grid-area: main;
}

footer{
    grid-area: footer;
    position: relative;
    height: 225px;
    background-color: black;
}

.asecao{
    display: flex;     /* faz com que os elementos ajam como flexbox */
    flex-wrap: wrap;     /* cria separação entre as flexbox */
    padding-top: 80px;     /* dá distância dos elementos de dentro em relação ao topo */
    padding-left: 8px;     /* dá distância dos elementos de dentro em relação à esquerda */
}

.acard{
    width: 250px;     /* define comprimento do elemento */
    height: 300px;     /* define altura do elemento */
    border: 5px solid;     /* define borda e tamanho dela no elemento */
    border-color: black;     /* define cor de fundo do elemento */
    border-radius: 10px;     /* define raio que aredonda as bordas */
    margin-top: 20px;     /* define margem do elemento em relação ao que está acima*/
    margin-left: 4%;     /* define margem do elemento em relação ao que está na esquerda */
    padding-left: 10px;     /* dá distaãncia dos elementos de dentro em relação à esquerda */
    font-family:'Lucida Sans', Arial, Helvetica, sans-serif;     /* define a fonte usada dentro do elemento */
    cursor: pointer;     /* faz com que o cursor se altere ao passar por cima do elemento */
}

.acard:hover{     /* altera o elemento quando o cursor passa por cima do mesmo */
    background-color: black;
    color: white;     /* altera a cor das letras dentro do elemento */
    transition: 0.1s;     /* define o tempo de duração da transição da mudança */
}

.msecao{
    display: flex;
    flex-wrap: wrap;
    padding-left: 15px;
    text-decoration: none;     /* remove a decoração do texto dentro do elemento */
}

.mcard{
    width: 250px;
    height: 300px;
    border: 5px solid;
    border-color: lightgray;
    border-radius: 10px;
    margin: 10px;
    padding-left: 10px;
    font-family:'Lucida Sans', Arial, Helvetica, sans-serif;
    cursor: pointer;
}

.mcard:hover{
    background-color: lightgray;
    transition: 0.1s;
}


/*imagens*/

.logo{
    height: 50px;
    position: absolute;
    top: 35px;     /* define a distância do elemento em relação ao topo da estrutura em que se encontra */
    left: 75px;     /* define a distância do elemento em relação à esquerda da estrutura em que se encontra */
}

.perfil{
    height: 50px;
    border-radius: 50px;
    position: absolute;
    top: 35px;
    right: 150px;
    background-color: crimson;
}

.perfil:hover{
    background-color: rgb(220, 57, 90);
    transition: 0.1s;
}

.carrinho{
    height: 50px;
    border-radius: 50px;
    position: absolute;
    top: 35px;
    right: 75px;
    background-color: crimson;
}

.carrinho:hover{
    background-color: rgb(220, 57, 90);
    transition: 0.1s;
}

.instagram{
    height: 25px;
    position: absolute;
    bottom: 130px;
    right: 235px;
}

.facebook{
    height: 60px;
    position: absolute;
    bottom: 65px;
    right: 217.5px;
}

.youtube{
    height: 28px;
    position: absolute;
    bottom: 32px;
    right: 233px;
}

.acard img{
    width: 240px;
    height: 150px;
    border-radius: 10px;
}

.mcard img{
    width: 240px;
    height: 150px;
    border-radius: 10px;
}

.footerlogo{
    width: 150px;
    position: absolute;
    top: 40px;
    left: 55%;
    border-radius: 10px;
}

/*texto*/

aside h1{
    position: absolute;
    margin-left: 22%;
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    font-size: 25px;     /* altera o tamanho da fonte */
}

.produtos{
    position: absolute;
    margin-left: 505px;
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
}

.classificacao{
    padding-left: 30px;
    padding-top: 100px;
    font-family:'Lucida Sans', Arial, Helvetica, sans-serif;
}

a{
    text-decoration: none;
    color: black;
}

h2{
    color: white;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

h4{
    color: rgb(64, 200, 147);
}

.desc{
    line-height: 5px;     /* define o tamanho da linha do texto */
}

.preco{
    line-height: 0px;
    padding-top: 30px;
}

.preco2{
    line-height: 0px;
}

footer ul{
    color: white;
    list-style: none;     /* remove a decoração na lista */
}

footer li{
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

footer li:hover{
    color: crimson;
    transition: 0.1s;
    cursor: pointer;
}

a{
    text-decoration: none;
}

.ajuda{
    position: absolute;
    top: 0px;
    left: 40px;
}

.ulajuda{
    position: absolute;
    bottom: 0px;
}

.sobre{
    position: absolute;
    left: 32%;
}

.sobretxt{
    color: white;
    position: absolute;
    left: 32%;
    bottom: 0px;
    width: 320px;
    font-family: Arial, Helvetica, sans-serif;
}

.redes{
    position: absolute;
    top: 0px;
    right: 100px;
}

.ulredes{
    position: absolute;
    right: 150px;
    bottom: 0px;
    line-height: 39px;
}

/*menu retratil*/

.menuicon{
    position: absolute;
    top: 43px;
    left: 39px;
    z-index: 999;
    width: 35px;
    height: 35px;
}

.menuicon span{
    display: block;
    width: 35px;
    height: 5px;
    margin-bottom: 10px;
    background-color: white;
    border-radius: 3px;
    transition: all ease 0.5s;
}

.check{
    position: absolute;
    top: 40px;
    left: 35px;
    z-index: 1000;
    width: 35px;
    height: 35px;
    opacity: 0;
    cursor: pointer;
}

.check:checked ~ .menuicon span:nth-child(1){
    transform-origin: 0% 100%;
    transform: rotate(45deg) scaleX(1.15);
}

.check:checked ~ .menuicon span:nth-child(2){
    opacity: 0;
}

.check:checked ~ .menuicon span:nth-child(3){
    transform-origin: 0% 0%;
    transform: rotate(-45deg) scaleX(1.15);
}

.menu ul{
    list-style-type: none;
    position: absolute;
    z-index: 998;
    top: -17px;
    left: -1000px;
    width: 40%;
    height: 3349px;
    padding-top: 100px;
    background-color: #232323;
    transition: 0.5s;
}

.check:checked ~ ul{
    left: 0px;
}

.menu ul li{
    padding: 10px 30px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}

.menu ul li:hover{
    color: crimson;
}

/*responsividade*/

@media screen and (min-width: 800.5px) {
    .menu{
        display: none;
    }
}

@media screen and (max-width: 800px) {

    /*grid*/

    body {
        grid-template-areas: 
        "header"
        "aside"
        "main"
        "footer";
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto;
    }

    /*estruturas semanticas, cards e botoes*/

    .acard{
        height: 280px;
        width: 225px;
    }

    .mcard{
        height: 280px;
        width: 225px;
    }

    /*imagens*/

    .logo{
        left: 335px;
    }

    .perfil{
        right: 120px;
    }

    .carrinho{
        right: 40px;
    }

    .acard img{
        width: 210px;
        height: 120px;
    }

    .mcard img{
        width: 210px;
        height: 120px;
    }

    .instagram{
        display: none;
    }
    
    .facebook{
        display: none;
    }
    
    .youtube{
        display: none;
    }

    .footerlogo{
        left: 500px;
    }

    /*texto*/

    aside h1{
        left: 120px;
        font-size: 35px;
    }

    .produtos{
        margin-left: 280px;
    }

    .ulajuda{
        display: none;
    }

    .ajuda{
        display: none;
    }

    .ulredes{
        display: none;
    }
    
    .redes{
        display: none;
    }

    .sobre{
        left: 100px;
    }

    .sobretxt{
        left: 100px;
    }
}

@media screen and (max-width: 400px) {

    /*grid*/

    body {
        grid-template-areas: 
        "header"
        "main"
        "footer";
        grid-template-columns: auto;
        grid-template-rows: auto auto auto;
    }

    /*estruturas semanticas, cards e botoes*/

    header{
        height: 75px;
    }

    aside{
        display: none;
    }

    .mcard{
        width: 150px;
        height: 210px;
        padding-left: 5px;
    }

    /*imagens*/

    .logo{
        top: 12.5px;
        left: 130px;
    }

    .perfil{
        display: none;
    }

    .carrinho{
        display: none;
    }

    .mcard img{
        width: 144px;
        height: 90px;
    }

    .footerlogo{
        width: 125px;
        top: 55px;
        left: 250px;
    }

    /*texto*/

    .produtos{
        margin-left: 90px;
    }

    .mcard h3{
        margin-top: 0px;
        line-height: 16px;
        font-size: 16px;
    }

    .mcard p{
        font-size: 14px;
    }

    .preco{
        padding-top: 10px;
        line-height: 0px;
    }

    .preco2{
        line-height: 0px;
        font-size: 14px;
    }

    .sobre{
        left: 10px;
        font-size: 20px;
    }

    .sobretxt{
        width: 200px;
        top: 40px;
        left: 10px;
        font-size: 13px;
    }

    /*menu retratil*/

    .check{
        top: 17px;
        left: 21px;
    }

    .menuicon{
        top: 20px;
        left: 25px;
    }

    .menu ul{
        width: 50%;
    }
}