/*estruturas semanticas*/

body{
    margin: 0;
    display: grid;
    grid-template-areas:
    "header header header"
    "aside main main"
    "footer footer footer";
    grid-template-columns: 1fr 2fr 2fr;
}

header{
    grid-area: header;
    position: relative;
    height: 125px;
    background-color:crimson;
}

aside{
    grid-area: aside;
    position: relative;
    height: 800px;
    background-color: lightgray;
}

main{
    grid-area: main;

}

footer{
    grid-area: footer;
    position: relative;
    height: 225px;
    background-color: black;
}

/*imagens*/

.logo{
    height: 50px;
    position: absolute;
    top: 35px;
    left: 75px;
}

.perfil{
    height: 50px;
    position: absolute;
    top: 35px;
    right: 150px;
}

.carrinho{
    height: 50px;
    position: absolute;
    top: 35px;
    right: 75px;
}

.instagram{
    height: 25px;
    position: absolute;
    bottom: 130px;
    right: 260px;
}

.facebook{
    height: 60px;
    position: absolute;
    bottom: 65px;
    right: 242.5px;
}

.youtube{
    height: 28px;
    position: absolute;
    bottom: 32px;
    right: 258px;
}

/*texto*/

h2{
    color: white;
}

ul{
    color: white;
    list-style: none;
}

li{
    margin-bottom: 10px;
}

.ajuda{
    position: absolute;
    left: 40px;
}

.ulajuda{
    position: absolute;
    bottom: 0px;
}

.redes{
    position: absolute;
    right: 100px;
}

.ulredes{
    position: absolute;
    right: 160px;
    bottom: 30px;
}